.background{
    -fx-background-color: black;
}
.label{
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-text-fill : white;

}

.slider .track {
    -fx-background-insets: 1 1 1 1;
    -fx-padding: 0.25em;
}


